body{
    margin: 0px;
    font-family: arial;
}


h1{
    font-size: 40px;
    
}
.name_highlight{
    color:rgb(210, 30, 45);
}
p{
    color: cyan;
}
.btn{
    padding: 3px 10px;
    color: white;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
}
.lefti{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.lefti img{
    width: 90%;
}
.topper-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
